<p style="color: green"><%= notice %></p>

<h1>FastNews</h1>

<div id="posts">
  <% @last_posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "СМОТРЕТЬ", post %>
    </p>
  <% end %>
</div>
<div>
  <%= link_to 'смотреть все новости'.upcase, posts_path %>
</div>
