<p style="color: green"><%= notice %></p>
<div>
  <h1>FastNews</h1>
</div>

<div id="posts">
  <% @last_posts.each do |post| %>
    <%= render 'posts/post_card', post: post %>
  <% end %>
</div>
<div>
  <%= link_to 'смотреть все новости'.upcase, posts_path, class: "project-link" %>
</div>
