/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    margin:0;
    padding:0;
    -webkit-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 40vw;
    padding: 30vw 0 5vw;
    position: relative;
    -webkit-transform-style: inherit;
    transform-style: inherit;
    width: 100vw;
}

header, header:before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 128px;
    display: block;
    background-color: #8a8;
    background-size: cover;
    -webkit-transform-origin: center center 0;
    -webkit-transform: translateZ(-1px) scale(2);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

header h1 {
    background-color: hsla(0, 0%, 100%,0.1);
}

main {
    background-color: #333333;
    line-height: 1.7;
    padding: 10px 20%;
    position: relative;
    z-index: 2;
    font-size: 16px;
}

header h1 {
    color: aliceblue;
}

.projcard-container {
    margin: 50px 0;
}

/* Actual Code: */
.projcard-container,
.projcard-container * {
    box-sizing: border-box;
}
.projcard-container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.projcard {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
    transform: translate(0px, -3px);
}
.projcard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 0.07;
}
.projcard:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.projcard-img {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
}
.projcard:nth-child(2n) .projcard-img {
    left: initial;
    right: 0;
}
.projcard:hover .projcard-img {
    transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
    width: 70px;
}
.projcard-textbox {
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: 430px;
    width: calc(100% - 470px);
    font-size: 17px;
}
.projcard:nth-child(2n) .projcard-textbox {
    left: initial;
    right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
    content: "";
    position: absolute;
    display: block;
    background: #ff0000bb;
    background: #fff;
    top: -20%;
    left: -55px;
    height: 140%;
    width: 60px;
    transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
    display: none;
}
.projcard-textbox::after {
    display: none;
    left: initial;
    right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
    display: block;
}
.projcard-textbox * {
    position: relative;
}
.projcard-title {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    font-size: 24px;
}
.projcard-subtitle {
    font-family: 'Voces', 'Open Sans', arial, sans-serif;
    color: #888;
}
.projcard-bar {
    left: -2px;
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #0088FF; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #0088FF, transparent 50%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #0088FF, transparent 50%); }
.projcard-red .projcard-bar { background-color: #D62F1F; }
.projcard-red::before { background-image: linear-gradient(-70deg, #D62F1F, transparent 50%); }
.projcard-red:nth-child(2n)::before { background-image: linear-gradient(-250deg, #D62F1F, transparent 50%); }
.projcard-green .projcard-bar { background-color: #40BD00; }
.projcard-green::before { background-image: linear-gradient(-70deg, #40BD00, transparent 50%); }
.projcard-green:nth-child(2n)::before { background-image: linear-gradient(-250deg, #40BD00, transparent 50%); }
.projcard-yellow .projcard-bar { background-color: #F5AF41; }
.projcard-yellow::before { background-image: linear-gradient(-70deg, #F5AF41, transparent 50%); }
.projcard-yellow:nth-child(2n)::before { background-image: linear-gradient(-250deg, #F5AF41, transparent 50%); }
.projcard-orange .projcard-bar { background-color: #FF5722; }
.projcard-orange::before { background-image: linear-gradient(-70deg, #FF5722, transparent 50%); }
.projcard-orange:nth-child(2n)::before { background-image: linear-gradient(-250deg, #FF5722, transparent 50%); }
.projcard-brown .projcard-bar { background-color: #C49863; }
.projcard-brown::before { background-image: linear-gradient(-70deg, #C49863, transparent 50%); }
.projcard-brown:nth-child(2n)::before { background-image: linear-gradient(-250deg, #C49863, transparent 50%); }
.projcard-grey .projcard-bar { background-color: #424242; }
.projcard-grey::before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
.projcard-grey:nth-child(2n)::before { background-image: linear-gradient(-250deg, #424242, transparent 50%); }
.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
.projcard-description {
    z-index: 10;
    font-size: 15px;
    color: #424242;
    height: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.projcard-tagbox {
    position: absolute;
    bottom: 3%;
    font-size: 14px;
    cursor: default;
    user-select: none;
    pointer-events: none;
}
.projcard-tag {
    display: inline-block;
    background: #E0E0E0;
    color: #777;
    border-radius: 3px 0 0 3px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    position: relative;
    margin-right: 20px;
    cursor: default;
    user-select: none;
    transition: color 0.2s;
}
.projcard-tag::before {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    height: 6px;
    left: 10px;
    width: 6px;
    top: 10px;
}
.projcard-tag::after {
    content: '';
    position: absolute;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #E0E0E0;
    border-top: 13px solid transparent;
    right: -10px;
    top: 0;
}

a:hover:before {
    -webkit-transform: translateY(0);
    opacity: 1;
}

.one a, #title, .new-article a {
    font-family: 'Lato';
    text-decoration: none;
    font-size: 26px;
    color: #000;
    font-weight: 900;
    position: relative;
}

.one, .new-article a {
    border-bottom: 2px solid #eee;
}

.one a:hover:before, .new-article a:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    content: '';
    -webkit-transform: translateY(8px);
    opacity: 0;
    transition-property: -webkit-transform, opacity;
    transition-duration: .3s;
}

.one a:hover:before, .new-article a:hover:before {
    -webkit-transform: translateY(0);
    opacity: 1;
}

.new-article {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}
.pagination {
    display: flex;
    justify-content: center;
    float: none;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-bottom: #2E2F30 2px solid;
}

.nav-bar span {
    display: flex;
    justify-content: center;
    width: 50%;
}

#posts {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E2F30;
}

.post-wrapper, .form-wrapper {
    display: flex;
    justify-content: center;
}

.form-wrapper, .new_user {
    width: 80%;
    margin: auto;
    border: #2E2F30;
}

.form-wrapper form, .new_user {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-wrapper form > div {
    margin-bottom: 25px;
}

#post_body {
    height: 250px;
}

h1 {
    text-align: center;
}

.pagination a, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination span.current {
    padding: 11px 18px !important;
    line-height: 14px !important;
}

.pagination {
    border-left: 1px solid #ddd;
}

.first{
    padding : 0;
    float: none;
    border: none;
}
.prev {
    padding : 0;
    float: none;
    border: none;
}
.page{
    padding : 0;
    float: none;
    border: none;
}
.next{
    padding : 0;
    float: none;
    border: none;
}
.last{
    padding : 0;
    float: none;
    border: none;
}

.sign-field {
    color: #2E2F30;
}

.sign-header {
    text-align: center;
}

.sign-link {
    text-align: center;
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 25px
}

.err-msg {
    font-size: 16px;
    color: #333333;
    margin-bottom: 2px;
}

.alert {
    text-align: center;
    font-size: 25px;
    color: #730E15;
}

.signin {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}